{% extends "bootstrap/base.html" %}
{% block title %}活动信息{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ config.WEUI_URI }}" />
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">操作失败</h2>
        <p class="weui-msg__desc">{{error_msg}}</a></p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{{url_for('main')}}" class="weui-btn weui-btn_primary">返回</a>
        </p>
    </div>
</div>

<div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__text">Copyright &copy; 2008-2017 5268FC</p>
</div>
{% endblock %}

