{% extends "bootstrap/base.html" %}
{% block title %}5268足球队{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ config.WEUI_URI }}" />
<style type="text/css">
    body,html {
        height:100%;
        -webkit-tap-highlight-color:transparent
    }
</style>
{% endblock %}

{% block content %}
<div class="weui-tab" style="height: 100%;">
    <div class="weui-tab__panel" id="panelContent">
        <div class="weui-panel">
            <div class="weui-panel__hd">文字列表附来源</div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">标题一</h4>
                    <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta">文字来源</li>
                        <li class="weui-media-box__info__meta">时间</li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">其它信息</li>
                    </ul>
                </div>
            </div>
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">标题一</h4>
                    <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    <ul class="weui-media-box__info">
                        <li class="weui-media-box__info__meta">文字来源</li>
                        <li class="weui-media-box__info__meta">时间</li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">其它信息</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
            <img srcName="all" src="../static/images/all_on.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">来战</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item">
            <img srcName="success" src="../static/images/success.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">战绩</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item" onclick="listAvailable()">
            <img srcName="compass" src="../static/images/compass.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">球队</p>
        </a>
        <a href="javascript:;" class="weui-tabbar__item">
            <img srcName="account" src="../static/images/account.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    
    $(function(){

        $('.weui-tabbar__item').on('click', function () {

            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on')
                .removeClass('weui-bar__item_on');

            var $onImg = $(this).children('img');
            $onImg.attr('src', '../static/images/' + $onImg.attr('srcName') + '_on.png');

            $(this).siblings().each(function(){
                var $offImg = $(this).children('img');
                $offImg.attr('src', '../static/images/' + $offImg.attr('srcName') + '.png')
            });
        });
    });

    function getLoadingHtml(paddingTop) {
        var html = [];
        html.push('<div class="weui-loadmore" style="padding-top:');
        html.push(paddingTop)
        html.push('px" >');
        html.push('<i class="weui-loading"></i>');
        html.push('<span class="weui-loadmore__tips">正在加载</span>');
        html.push('</div>');

        return html.join('');
    }

    function listAvailable() {
        var $panel = $('#panelContent');
        var padding = ($(window).height() - $('.weui-tabbar').height()) / 2;
        $panel.html(getLoadingHtml(padding));
        
        $panel.load('{{ url_for('getAvailableSchedule') }}');
    }
</script>
{% endblock %}