<div class="weui-panel">
    <div class="weui-panel__hd">{{label}}</div>

    {% for schedule in schedules%}

    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text" onclick="goToScheduleInfo('{{url_for('get_schedule_info', schedule_id=schedule.id)}}')">
            <h4 class="weui-media-box__title">
                {% if schedule.title %}
                    {{schedule.title}}
                {% elif schedule.type == '1'%}
                    VS. {{schedule.opponent_name}}
                {% endif %}
            </h4>
            <p class="weui-media-box__desc">{{schedule.plan_date}}&nbsp;{{schedule.address_name}}</p>
            <p class="weui-media-box__desc">{{schedule.remark}}</p>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">{{schedule.create_user_name}}</li>
                <li class="weui-media-box__info__meta">发布于</li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{schedule.create_date}}</li>
            </ul>
        </div>
    </div>

    {% endfor %}
</div>
